body {
  font-family: sans-serif;
  margin: 0;
  padding: 40px;
  background: #ffffff;
  color: #333;
  max-width: 960px;
  margin: auto;
  line-height: 1.8;
  padding: 40px;
  width: 100%;
}

header {
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-top: 40px;
}
.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fafafa;
  transition: 0.3s;
}
